PORT=3000
APP_BASE_URL=http://localhost:3000
FE_ORIGIN=http://localhost:5173
VITE_API_BASE_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sales_behavior
DB_SYNC=true
DATABASE_URL=postgresql://neondb_owner:npg_FGMws2K8OUWR@ep-odd-dust-ab8pxduw-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

JWT_SECRET=super_secret_key_change_me
JWT_EXPIRES_IN=1d

TELEGRAM_BOT_TOKEN=8562663253:AAGct8WncHp7JTZZS5iTTN8uBD8lDavFDPQ
